{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
{% load django_template_maths %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#arriendos" role="tab">
                                Arriendos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#contratos" role="tab">
                                Contratos
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="arriendos" role="tabpanel">
                            <form method="post" action="CrearArriendo/" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" id="FechaArriendo" name="FechaArriendo" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto"  data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreArriendo" id="NombreArriendo" class="form-control" placeholder="Ingrese el nombre" tabindex="20" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <select name="PropiedadArriendo" id="PropiedadArriendo" class="form-control select2-search-disable" required>
                                                <option selected>Seleccionar Propiedad</option>
                                                {% for x,y in form.fields.PropiedadContrato.choices %}
                                                <option value="{{ x }}"{% if form.fields.PropiedadContrato.value == x %} {% endif %}>{{y}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorArriendo" id="ValorArriendo" class="form-control" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." placeholder="Ingrese el valor" tabindex="10" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive mt-2">
                                <table id="datatable-buttons" class="table table-hover dt-responsive nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle">Fecha(AA/MM/DD)</th>
                                            <th class="align-middle">Nombre de Persona o Entidad</th>
                                            <th class="align-middle">Nombre de la Propiedad</th>
                                            <th class="align-middle">Valor del Arriendo</th>
                                            <th class="align-middle">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for arriendo in Arriendos %}
                                        <tr>
                                            <td>{{arriendo.FechaArriendo}}</td>
                                            <td>{{arriendo.NombreArriendo}}</td>
                                            <td>{{arriendo.PropiedadArriendo}}</td>
                                            <td>${{arriendo.ValorArriendo|remove_decimal|separator:'dot'}}</td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="#editarArriendoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#eliminarArriendoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="contratos" role="tabpanel">
                            <form method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" id="FechaContrato" name="FechaContrato" class="form-control" placeholder="Fecha Inicio" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto"  data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreContrato" id="NombreContrato" class="form-control" placeholder="Nombre" tabindex="20" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <select name="PropiedadContrato" id="PropiedadContrato" class="form-control select2-search-disable" required>
                                                <option selected>Propiedad</option>
                                                {% for x,y in form.fields.PropiedadContrato.choices %}
                                                <option value="{{ x }}"{% if form.fields.PropiedadContrato.value == x %} {% endif %}>{{y}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" id="ValorGeneral" name="ValorContrato" id="ValorContrato" class="form-control" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." placeholder="Valor del Contrato" tabindex="10" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-4">
                                        <div class="mb-3">
                                            <select name="TipoContrato" id="TipoContrato" class="form-control" required>
                                                <option selected>Tipo Contrato</option>
                                                <option value="Mensual">Mensual</option>
                                                <option value="Trimestral">Trimestral</option>
                                                <option value="Semestral">Semestral</option>
                                                <option value="Anual">Anual</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div>
                                <div class="table-responsive mt-2">
                                    <table class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Fecha(AA/MM/DD)</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Propiedad</th>
                                                <th scope="col">Valor Arriendo</th>
                                                <th scope="col">Tipo de Contrato</th>
                                                <th scope="col">Fiador</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for contrato in Contratos %}
                                            <tr>
                                                <td>{{contrato.FechaContrato}}</td>
                                                <td>{{contrato.NombreContrato}}</td>
                                                <td>{{contrato.PropiedadContrato}}</td>
                                                <td>${{contrato.ValorContrato|remove_decimal|separator:'dot'}}</td>
                                                <td>{{contrato.TipoContrato}}</td>
                                                <td>
                                                    <div class="d-flex gap-3 text-center">
                                                        <a href="#guardarContratoFiadorModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-primary">
                                                            <i class="mdi mdi-content-save font-size-18"></i>
                                                        </a>
                                                        <a href="#editarContratoFiadorModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-muted">
                                                            <i class="mdi mdi-badge-account-horizontal font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editarContratoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminarContratoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
                        
    <!-- Modal Contrato & Fiador - Crear -->
    {% for contrato in Contratos %}
    <div id="guardarContratoFiadorModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="CrearFiador/" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="guardarContratoFiadorModalLabel">Guardar informacón de {{contrato.NombreContrato}}:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <p class="mb-4"><span class="text-primary">Datos del Cliente:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" hidden value="{{contrato.Id_Contrato}}" name="Contrato_Id" id="Contrato_Id" class="form-control" placeholder="Nombre" tabindex="10" required>
                                        <input type="text" value="{{contrato.NombreContrato}}" name="" id="" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="CelularContrato" id="CelularContrato" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionContratoCasa" id="DireccionContratoCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionContratoTrabajo" id="DireccionContratoTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                                <p class="mb-4"><span class="text-primary">Datos del Fiador:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="NombreFiador" id="NombreFiador" class="form-control" placeholder="Nombre Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="CelularFiador" id="CelularFiador" class="form-control" placeholder="Celular Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionFiadorCasa" id="DireccionFiadorCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionFiadorTrabajo" id="DireccionFiadorTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary w-md">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Contrato & Fiador - Etitar -->
    {% for fiador in Fiador %}
    <div id="editarContratoFiadorModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateFiador/{{fiador.Id_Fiador}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarContratoFiadorModalLabel">Editar informacón de {{fiador.Contrato_Id.NombreContrato}}:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <p class="mb-4"><span class="text-primary">Datos del Cliente:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" hidden value="{{fiador.Contrato_Id.Id_Contrato}}" name="Contrato_Id" id="Contrato_Id" class="form-control" placeholder="Id_Contrato" tabindex="10" required>
                                        <input type="text" value="{{fiador.Contrato_Id.NombreContrato}}" name="" id="" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.CelularContrato}}" name="CelularContrato" id="CelularContrato" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionContratoCasa}}" name="DireccionContratoCasa" id="DireccionContratoCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionContratoTrabajo}}" name="DireccionContratoTrabajo" id="DireccionContratoTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                                <p class="mb-4"><span class="text-primary">Datos del Fiador:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.NombreFiador}}" name="NombreFiador" id="NombreFiador" class="form-control" placeholder="Nombre Fiador" tabindex="10">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{fiador.CelularFiador}}" name="CelularFiador" id="CelularFiador" class="form-control" placeholder="Celular Fiador" tabindex="10">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionFiadorCasa}}" name="DireccionFiadorCasa" id="DireccionFiadorCasa" class="form-control" placeholder="Dirección Casa" tabindex="20">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionFiadorTrabajo}}" name="DireccionFiadorTrabajo" id="DireccionFiadorTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

    <!-- Modal Contrato - Etitar -->
    {% for contrato in Contratos %}
    <div id="editarContratoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateContrato/{{contrato.Id_Contrato}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarContratoModalLabel">Editar informacón de {{contrato.NombreContrato}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.FechaContrato}}" name="FechaContrato" id="FechaContrato" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.TipoContrato}}" name="TipoContrato" id="TipoContrato" class="form-control" placeholder="Tipo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.NombreContrato}}" name="NombreContrato" id="NombreContrato" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.ValorContrato}}" name="ValorContrato" id="ValorContrato" class="form-control" placeholder="Valor del Contrato" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.PropiedadContrato}}" name="PropiedadContrato" id="PropiedadContrato" class="form-control" placeholder="Propiedad Contrato" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal Contrato - Eliminar -->
    {% for contrato in Contratos %}
    <div  id="eliminarContratoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formulario" autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarContratoModalLabel">Eliminar informacón de {{contrato.NombreContrato}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.FechaContrato}}" name="FechaContrato" id="FechaContrato" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.TipoContrato}}" name="TipoContrato" id="TipoContrato" class="form-control" placeholder="Tipo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.NombreContrato}}" name="NombreContrato" id="NombreContrato" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.ValorContrato}}" name="ValorContrato" id="ValorContrato" class="form-control" placeholder="Valor del Contrato" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{contrato.PropiedadContrato}}" name="PropiedadContrato" id="PropiedadContrato" class="form-control" placeholder="Propiedad Contrato" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            </div>
                                <div class="modal-footer">
                                    <a href="deleteContrato/{{contrato.Id_Contrato}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Arriendos - Eliminar -->
    {% for arriendo in Arriendos %}
    <div  id="eliminarArriendoModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarcobroModalLabel">Eliminar informacón de {{arriendo.NombreArriendo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.FechaArriendo}}" name="FechaArriendo" id="FechaArriendo" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.NombreArriendo}}" name="NombreArriendo" id="NombreArriendo" class="form-control" placeholder="Nombre" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.ValorArriendo}}" name="ValorArriendo" id="ValorArriendo" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.PropiedadArriendo}}" name="PropiedadArriendo" id="PropiedadArriendo" class="form-control" placeholder="Propiedad" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            </div>
                                <div class="modal-footer">
                                    <a href="deleteArriendo/{{arriendo.Id_Arriendo}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Arriendos - Etitar -->
    {% for arriendo in Arriendos %}
    <div id="editarArriendoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateArriendo/{{arriendo.Id_Arriendo}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarArriendoModalLabel">Editar informacón de {{arriendo.NombreArriendo}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.FechaArriendo}}" name="FechaArriendo" id="FechaArriendo" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.NombreArriendo}}" name="NombreArriendo" id="NombreArriendo" class="form-control" placeholder="Nombre" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.ValorArriendo}}" name="ValorArriendo" id="ValorArriendo" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{arriendo.PropiedadArriendo}}" name="PropiedadArriendo" id="PropiedadArriendo" class="form-control" placeholder="Propiedad" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        

{% endblock %}

{% block extra_javascript %}

    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <!-- <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script> -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script> 

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateArriendos&Contratos.js' %}"></script>

{% endblock %}