{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}
{% load django_template_maths %}
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-12 px-2">
                <div class="card">
                    <div class="card-body">        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-hover datatable nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="align-middle">Pastor/Lider</th>
                                                <th class="align-middle">Celular</th>
                                                <th class="align-middle">Abono</th>
                                                <th class="align-middle">Valor Persona</th>
                                                <th class="align-middle">Fecha Inicial</th>
                                                <th class="align-middle">Fecha Final</th>
                                                <th class="align-middle">Actividad</th>
                                                <th class="align-middle">Comida</th>
                                                <th class="align-middle">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for Evento in Eventos %}
                                            <tr>
                                                <td>{{Evento.pastor}}</td>
                                                <td>{{Evento.Celular}}</td>
                                                <td>${{Evento.ValorPersona|remove_decimal|separator:'dot'}}</td>
                                                <td>${{Evento.Abono|remove_decimal|separator:'dot'}}</td>
                                                <td>{{Evento.InicioEvento}}</td>
                                                <td>{{Evento.FinalEvento}}</td>
                                                <td>{{Evento.Actividades}}</td>
                                                <td>{{Evento.Comida}}</td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editareventoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminareventoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- end row -->  

    <!-- Modal Evento - Etitar -->
    {% for Evento in Eventos %}
    <div id="editareventoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateEvento/{{Evento.Id_Evento}}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editareventoModalLabel">Editar Evento de {{Evento.pastor}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <select id="Color" name="Color" class="form-control">
                                            <option value="#1adc00" selected>Abonado</option>
                                            <option value="#ebc728">Pendiente</option>
                                            <option value="#ff4040">Nulo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Comida">Preparacion de comida:</label>
                                        <select value="Comida" id="Comida" name="Comida">
                                            <option value="No" selected>No</option>
                                            <option value="Si">Si</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{Evento.pastor}}" name="pastor" id="pastor" class="form-control" placeholder="Nombre del pastor o lider" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{Evento.Celular}}" name="Celular" id="Celular" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{Evento.Abono}}" name="Abono" id="Abono" class="form-control" placeholder="Abonado" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{Evento.ValorPersona}}" name="ValorPersona" id="ValorPersona" class="form-control" placeholder="Valor por persona" tabindex="20" required>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="InicioEvento">Fecha inicial(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Evento.InicioEvento}}" name="InicioEvento" id="InicioEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="FinalEvento">Fecha Final(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Evento.FinalEvento}}" name="FinalEvento" id="FinalEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
    
                                <div class="col-sm-12">
                                    <div class="mb-9">
                                        <textarea type="text" name="Actividades" rows="2" cols="40" id="Actividades" class="form-control" placeholder="Actividades" tabindex="100" required>{{Evento.Actividades}}</textarea>   
                                    </div>
                                </div> 

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal General - Eliminar -->
    {% for Evento in Eventos %}
    <div id="eliminareventoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formulario">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminareventoModalLabel">Eliminar evento de {{Evento.pastor}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" readonly value="{{Evento.pastor}}" name="pastor" id="pastor" class="form-control" placeholder="Nombre del pastor o lider" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" readonly value="{{Evento.Celular}}" name="Celular" id="Celular" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" readonly value="${{Evento.Abono}}" name="Abono" id="Abono" class="form-control" placeholder="Abonado" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" readonly value="${{Evento.ValorPersona}}" name="ValorPersona" id="ValorPersona" class="form-control" placeholder="Valor por persona" tabindex="20" required>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="InicioEvento">Fecha inicial(AAAA-MM-DD):</label>
                                        <input type="text" readonly value="{{Evento.InicioEvento}}" name="InicioEvento" id="InicioEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="FinalEvento">Fecha Final(AAAA-MM-DD):</label>
                                        <input type="text" readonly value="{{Evento.FinalEvento}}" name="FinalEvento" id="FinalEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
    
                                <div class="col-sm-12">
                                    <div class="mb-9">
                                        <textarea type="text" readonly name="Actividades" rows="2" cols="40" id="Actividades" class="form-control" placeholder="Actividades" tabindex="100" required>{{Evento.Actividades}}</textarea>   
                                    </div>
                                </div> 
                                <div class="modal-footer">
                                    <a href="deleteEvento/{{Evento.Id_Evento}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

{% endblock %}

{% block extra_javascript %}
    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script>

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateEvento.js' %}"></script>

{% endblock %}