{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}
{% load django_template_maths %}
<div class="row">

    <!-- Sección de Bienvenido -->
    <div class="col-xl-3 p-1">
        <div class="card overflow-hidden">
            <div class="bg-primary bg-soft">
                <div class="row">
                    <div class="col-9">
                        <div class="text-primary p-3">
                            <h5 class="text-primary">¡BIENVENIDO NUEVAMENTE!</h5>
                            <p>VILLA SALEM</p>
                        </div>
                    </div>
                    <div class="col-10">
                        <img src="{% static 'images/profile-img.png'%}" alt="" class="img-fluid px-5 mx-5">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Primera sección de bloques de tres -->
    <div class="col-xl-9 pt-2">
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid rounded-circle bg-secondary bg-soft">
                    <div class="card-body"> 
                        <br>
                        <div class="row justify-content-center">
                            <div class="mini-stat-icon avatar-sm bg-primary">
                                <span class="avatar-title">
                                    <i class="bx bx-copy-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>    
                        <div class="d-flex-center p-3">
                            <div class="text-center">
                                <h2>${{saldo|remove_decimal|separator:'dot'}}</h2>
                                <span>Saldo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <br>
                        <div class="row justify-content-center">
                            <div class="avatar-sm rounded-circle bg-success mini-stat-icon">
                                <span class="avatar-title bg-success">
                                    <i class="bx bx-archive-in font-size-24"></i>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex-center">
                            <div class="text-center">
                                <h2>${{recibi|remove_decimal|separator:'dot'}}</h2>
                                <span>total Recibido</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <br>
                        <div class="row justify-content-center">
                            <div class="avatar-sm rounded-circle bg-danger mini-stat-icon">
                                <span class="avatar-title bg-danger">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex-center">
                            <div class="text-center">
                                <h2>$-{{gaste|remove_decimal|separator:'dot'}}</h2>
                                <span>Total Gastado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-12 px-2">
                <div class="card">
                    <div class="card-body">        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="" role="tabpanel">
                                <form method="post" id="formulario" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl col-sm-6">
                                            <div class="mb-3">
                                                <input type="text" name="FechaGeneral" id="FechaGeneral" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                            </div>                                                
                                        </div>
                                        <div class="col-xl col-sm-6">
                                            <div class="mb-3">
                                                <input type="number" name="ValorGeneral" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" id="ValorGeneral" class="form-control" placeholder="Valor" tabindex="10" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." required>
                                            </div>
                                        </div>
                                        <div class="col-xl col-sm-6">
                                            <div class="mb-3">
                                                <select name="TipoGeneral" class="form-control select2-search-disable" required>
                                                    <option selected>Seleccionar</option>
                                                    {% for x,y in form.fields.TipoGeneral.choices %}
                                                    <option value="{{ x }}"{% if form.fields.TipoGeneral.value == x %} {% endif %}>{{y}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-6">
                                            <textarea type="text" name="DetalleGeneral" id="DetalleGeneral" class="form-control" placeholder="Detalle" rows="1" required></textarea> 
                                        </div>
                                        <div class="col-xl col-sm-6">
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary w-md">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="table table-hover datatable nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="align-middle">Fecha(AA/MM/DD)</th>
                                                <th class="align-middle">Valor</th>
                                                <th class="align-middle">Tipo</th>
                                                <th class="align-middle">Detalle</th>
                                                <th class="align-middle">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for general in data %}
                                            <tr>
                                                <td>{{general.FechaGeneral}}</td>
                                                <td>${{general.ValorGeneral|remove_decimal|separator:'dot'}}</td>
                                                <td>{{general.TipoGeneral}}</td>
                                                <td>{{general.DetalleGeneral}}</td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editargeneralModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminargeneralModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- end row -->  

    <!-- Modal General - Etitar -->
    {% for general in data %}
    <div id="editargeneralModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateGeneral/{{general.Id_General}}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editargeneralModalLabel">Editar informacón</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.FechaGeneral}}" name="FechaGeneral" id="fecha-input" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.ValorGeneral}}" name="ValorGeneral" id="ValorGeneral" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.TipoGeneral}}" name="TipoGeneral" id="TipoGeneral" class="form-control" placeholder="Tipo" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <textarea type="text" name="DetalleGeneral" id="DetalleGeneral" class="form-control" placeholder="Detalle" rows="4" required>{{general.DetalleGeneral}}</textarea> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal General - Eliminar -->
    {% for general in data %}
    <div id="eliminargeneralModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formulario">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminargeneralModalLabel">Eliminar informacón</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.FechaGeneral}}" name="FechaGeneral" id="FechaGeneral" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.ValorGeneral}}" name="ValorGeneral" id="ValorGeneral" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{general.TipoGeneral}}" name="TipoGeneral" id="TipoGeneral" class="form-control" placeholder="Tipo" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <textarea type="text" name="DetalleGeneral" id="DetalleGeneral" class="form-control" placeholder="Detalle" rows="4" required>{{general.DetalleGeneral}}</textarea> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteGeneral/{{general.Id_General}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

{% endblock %}

{% block extra_javascript %}
<script>
    function My_Date() {
    var g =    document.getElementById("Test_Date").value;
    document.getElementById('test').innerHTML= g;
         
    }
</script>
    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script>

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateGeneral.js' %}"></script>

{% endblock %}