{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}
{% load django_template_maths %}
<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-12 px-2">
                <div class="card">
                    <div class="card-body">        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-hover datatable nowrap">
                                        <thead class="table-light">
                                            <tr>
                                                <!-- <th class="align-middle">Estado</th> -->
                                                <th class="align-middle">Nombre</th>
                                                <th class="align-middle">Fecha Inicial</th>
                                                <th class="align-middle">Fecha Final</th>
                                                <th class="align-middle">Actividad</th>
                                                <th class="align-middle">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for Tarea in Tareas %}
                                            <tr>
                                                <!-- <td>{{Tarea.Estado}}</td> -->
                                                <td>{{Tarea.Ntarea}}</td>
                                                <td>{{Tarea.InicioActividad}}</td>
                                                <td>{{Tarea.FinalActividad}}</td>
                                                <td>{{Tarea.Actividades}}</td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editartareaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminartareaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- end row -->  

    <!-- Modal Tarea - Etitar -->
    {% for Tarea in Tareas %}
    <div id="editartareaModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateTarea/{{Tarea.Id_Tarea}}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editartareaModalLabel">Editar la tarea de {{Tarea.Ntarea}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{Tarea.Ntarea}}" name="Ntarea" id="Ntarea" class="form-control" placeholder="Nombre Tarea" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <select id="Estado" name="Estado" class="form-control">
                                            <option value="#1adc00">Completada</option>
                                            <option value="#ebc728" selected>Pendiente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="InicioActividad">Fecha Inicial(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Tarea.InicioActividad}}" name="InicioActividad" id="InicioActividad" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="FinalActividad">Fecha Final(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Tarea.FinalActividad}}" name="FinalActividad" id="FinalActividad" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-9">
                                        <textarea type="text" name="Actividades" id="Actividades" rows="2" class="form-control" placeholder="Actividad" required>{{Tarea.Actividades}}</textarea>   
                                    </div>
                                </div> 
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Tarea - Etitar -->
    {% for Tarea in Tareas %}
    <div id="eliminartareaModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formulario" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminartareaModalLabel">Eliminar la tarea de {{Tarea.Ntarea}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{Tarea.Ntarea}}" name="pastor" id="pastor" class="form-control" placeholder="Nombre del pastor o lider" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <select id="Estado" name="Estado" class="form-control">
                                            <option value="#1adc00">Completada</option>
                                            <option value="#ebc728" selected>Pendiente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="InicioActividad">Fecha Inicial(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Tarea.InicioActividad}}" name="InicioActividad" id="InicioActividad" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="FinalActividad">Fecha Final(AAAA-MM-DD):</label>
                                        <input type="text" value="{{Tarea.FinalActividad}}" name="FinalActividad" id="FinalActividad" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy-mm-dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-9">
                                        <textarea type="text" name="Actividades" id="Actividades" rows="2" class="form-control" placeholder="Actividad" required>{{Tarea.Actividades}}</textarea>   
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="deleteTarea/{{Tarea.Id_Tarea}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

{% endblock %}

{% block extra_javascript %}
    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script>

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateEvento.js' %}"></script>

{% endblock %}