{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
{% load django_template_maths %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">TABLA DE CONTROL</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#cobros" role="tab">
                            Cobros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#prestamos" role="tab">
                            Prestamos
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="cobros" role="tabpanel">
                        <form method="post" action="CrearCobro/" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="FechaCobro" id="FechaCobro" class="form-control" placeholder="Fecha Inicio" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="NombreCobro" id="NombreCobro" class="form-control" placeholder="nombre" tabindex="20" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorCobro" id="ValorCobro" class="form-control" placeholder="Valor" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-4">
                                    <div class="mb-3">
                                        <select name="TipoCobro" id="TipoCobro" class="form-control" required>
                                            <option selected>Periodo</option>
                                            <option value="Diario">Diario</option>
                                            <option value="Semanal">Semanal</option>
                                            <option value="Quincenal">Quincenal</option>
                                            <option value="Mensual">Mensual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6 align-self-end">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive mt-2">
                            <table id="datatable-buttons" class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Fecha(AA/MM/DD)</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Periodos de Pagos</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cobro in Cobros %}
                                    <tr>
                                        <td>{{cobro.FechaCobro}}</td>
                                        <td>{{cobro.NombreCobro}}</td>
                                        <td>${{cobro.ValorCobro|remove_decimal|separator:'dot'}}</td>
                                        <td>{{cobro.TipoCobro}}</td>
                                        <td>
                                            <div class="d-flex gap-3">
                                                <a href="#editarcobroModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                    <i class="mdi mdi-pencil font-size-18"></i>
                                                </a>
                                                <a href="#eliminarcobroModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                    <i class="mdi mdi-delete font-size-18"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="prestamos" role="tabpanel">
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="FechaPrestamo" id="FechaPrestamo" class="form-control" placeholder="Fecha Inicio" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" data-date-autoclose="true" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="NombrePrestamo" id="NombrePrestamo" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." class="form-control" placeholder="nombre" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorInicialPrestamo" id="ValorInicialPrestamo" class="form-control" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." placeholder="Valor Inicial" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;"  name="ValorPorcentajePrestamo" id="ValorPorcentajePrestamo" class="form-control" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." placeholder="Valor Total" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="TiempoPrestamo" id="TiempoPrestamo" class="form-control" placeholder="Tiempo" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-4">
                                    <div class="mb-3">
                                        <select name="TipoPrestamo" id="TipoPrestamo" class="form-control" required>
                                            <option selected>Periodo</option>
                                            <option value="Diario">Diario</option>
                                            <option value="Semanal">Semanal</option>
                                            <option value="Quincenal">Quincenal</option>
                                            <option value="Mensual">Mensual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl col-sm-6 align-self-end">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-md">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            <div class="table-responsive mt-2">
                                <table class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Fecha(AA/MM/DD)</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Valor Inicial</th>
                                            <th scope="col">Valor Total</th>
                                            <th scope="col">Tiempo Meses</th>
                                            <th scope="col">Periodo Pago</th>
                                            <th scope="col">Fiador</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prestamo in Prestamos %}
                                        <tr>
                                            <td>{{prestamo.FechaPrestamo}}</td>
                                            <td>{{prestamo.NombrePrestamo}}</td>
                                            <td>${{prestamo.ValorInicialPrestamo|remove_decimal|separator:'dot'}}</td>
                                            <td>${{prestamo.ValorPorcentajePrestamo|remove_decimal|separator:'dot'}}</td>
                                            <td>{{prestamo.TiempoPrestamo}}</td>
                                            <td>{{prestamo.TipoPrestamo}}</td>
                                            <td>
                                                <div class="d-flex gap-3 text-center">
                                                    <a href="#guardarPrestamoFiadorModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-primary">
                                                        <i class="mdi mdi-content-save font-size-18"></i>
                                                    </a>
                                                    <a href="#editarPrestamoFiadorModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-muted">
                                                        <i class="mdi mdi-badge-account-horizontal font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="#editarprestamoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#eliminarprestamoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->   
    <!-- Modal Prestamo & Fiador - Etitar -->
    {% for prestamo in Prestamos %}
    <div id="guardarPrestamoFiadorModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="CrearFiador/" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="guardarPrestamoFiadorModalLabel">Guardar informacón de {{prestamo.NombrePrestamo}}:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <p class="mb-4"><span class="text-primary">Datos del Cliente:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" hidden value="{{prestamo.Id_Prestamo}}" name="Prestamo_Id" id="Prestamo_Id" class="form-control" placeholder="Nombre" tabindex="10" required>
                                        <input type="text" value="{{prestamo.NombrePrestamo}}" name="" id="" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="CelularPrestamo" id="CelularPrestamo" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionPrestamoCasa" id="DireccionPrestamoCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionPrestamoTrabajo" id="DireccionPrestamoTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                                <p class="mb-4"><span class="text-primary">Datos del Fiador:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="NombreFiador" id="NombreFiador" class="form-control" placeholder="Nombre Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="CelularFiador" id="CelularFiador" class="form-control" placeholder="Celular Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionFiadorCasa" id="DireccionFiadorCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="DireccionFiadorTrabajo" id="DireccionFiadorTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary w-md">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Prestamo & Fiador - Etitar -->
    {% for fiador in Fiador %}
    <div id="editarPrestamoFiadorModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateFiador/{{fiador.Id_Fiador}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarPrestamoFiadorModalLabel">Editar informacón de {{fiador.Prestamo_Id.NombrePrestamo}}:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <p class="mb-4"><span class="text-primary">Datos del Cliente:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" hidden value="{{fiador.Prestamo_Id.Id_Prestamo}}" name="Prestamo_Id" id="Prestamo_Id" class="form-control" placeholder="Nombre" tabindex="10" required>
                                        <input type="text" value="{{fiador.Prestamo_Id.NombrePrestamo}}" name="" id="" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.CelularPrestamo}}" name="CelularPrestamo" id="CelularPrestamo" class="form-control" placeholder="Celular" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionPrestamoCasa}}" name="DireccionPrestamoCasa" id="DireccionPrestamoCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionPrestamoTrabajo}}" name="DireccionPrestamoTrabajo" id="DireccionPrestamoTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                                <p class="mb-4"><span class="text-primary">Datos del Fiador:</span></p>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.NombreFiador}}" name="NombreFiador" id="NombreFiador" class="form-control" placeholder="Nombre Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.CelularFiador}}" name="CelularFiador" id="CelularFiador" class="form-control" placeholder="Celular Fiador" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionFiadorCasa}}" name="DireccionFiadorCasa" id="DireccionFiadorCasa" class="form-control" placeholder="Dirección Casa" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{fiador.DireccionFiadorTrabajo}}" name="DireccionFiadorTrabajo" id="DireccionFiadorTrabajo" class="form-control" placeholder="Dirección Trabajo" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

    <!-- Modal Prestamo - Etitar -->
    {% for prestamo in Prestamos %}
    <div id="editarprestamoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updatePrestamo/{{prestamo.Id_Prestamo}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarprestamoModalLabel">Editar informacón de {{prestamo.NombrePrestamo}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-responsive">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.FechaPrestamo}}" name="FechaPrestamo" id="FechaPrestamo" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.NombrePrestamo}}" name="NombrePrestamo" id="NombrePrestamo" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.TipoPrestamo}}" name="TipoPrestamo" id="TipoPrestamo" class="form-control" placeholder="Tipo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.TiempoPrestamo}}" name="TiempoPrestamo" id="TiempoPrestamo" class="form-control" placeholder="Tiempo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.ValorInicialPrestamo}}" name="ValorInicialPrestamo" id="ValorInicialPrestamo" class="form-control" placeholder="Valor Inicial" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.ValorPorcentajePrestamo}}" name="ValorPorcentajePrestamo" id="ValorPorcentajePrestamo" class="form-control" placeholder="Valor Porcentaje" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal Prestamo - Eliminar -->
    {% for prestamo in Prestamos %}
    <div  id="eliminarprestamoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formulario" autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarprestamoModalLabel">Eliminar informacón de {{prestamo.NombrePrestamo}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.FechaPrestamo}}" name="FechaPrestamo" id="FechaPrestamo" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.NombrePrestamo}}" name="NombrePrestamo" id="NombrePrestamo" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.TipoPrestamo}}" name="TipoPrestamo" id="TipoPrestamo" class="form-control" placeholder="Tipo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.TiempoPrestamo}}" name="TiempoPrestamo" id="TiempoPrestamo" class="form-control" placeholder="Tiempo Prestamo" rows="4" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.ValorInicialPrestamo}}" name="ValorInicialPrestamo" id="ValorInicialPrestamo" class="form-control" placeholder="Valor Inicial" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{prestamo.ValorPorcentajePrestamo}}" name="ValorPorcentajePrestamo" id="ValorPorcentajePrestamo" class="form-control" placeholder="Valor Porcentaje" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            </div>
                                <div class="modal-footer">
                                    <a href="deletePrestamo/{{prestamo.Id_Prestamo}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

    <!-- Modal cobros - Etitar -->
    {% for cobro in Cobros %}
    <div id="editarcobroModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateCobro/{{cobro.Id_Cobro}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarcobroModalLabel">Editar informacón de {{cobro.NombreCobro}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.FechaCobro}}" name="FechaCobro" id="FechaCobro" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.ValorCobro}}" name="ValorCobro" id="ValorCobro" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.NombreCobro}}" name="NombreCobro" id="NombreCobro" class="form-control" placeholder="Nombre" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.TipoCobro}}" name="TipoCobro" id="TipoCobro" class="form-control" placeholder="Tipo" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal cobros - Eliminar -->
    {% for cobro in Cobros %}
    <div  id="eliminarcobroModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarcobroModalLabel">Eliminar informacón de {{cobro.NombreCobro}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.FechaCobro}}" name="FechaCobro" id="FechaCobro" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.ValorCobro}}" name="ValorCobro" id="ValorCobro" class="form-control" placeholder="Valor" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.NombreCobro}}" name="NombreCobro" id="NombreCobro" class="form-control" placeholder="Nombre" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cobro.TipoCobro}}" name="TipoCobro" id="TipoCobro" class="form-control" placeholder="Tipo" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                                <div class="modal-footer">
                                    <a href="deleteCobro/{{cobro.Id_Cobro}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
  
{% endblock %}

{% block extra_javascript %}

    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <!-- <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script> -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script> 

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateCobros&Prestamos.js' %}"></script>

{% endblock %}