{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
{% load django_template_maths %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="clientes" role="tabpanel">
                            <form method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre Iglesia:</label>
                                            <input type="text" name="NombreIglesia" id="NombreIglesia" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." class="form-control" placeholder="Ingrese el nombre de la iglesia" tabindex="20" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre Lider:</label>
                                            <input type="text" name="NombreLider" id="NombreLider" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." class="form-control" placeholder="Ingrese el nombre del líder" tabindex="20" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">Número de Contacto:</label>
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="Contacto" id="Contacto" class="form-control" placeholder="Ingrese el número de contacto" tabindex="20" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <label class="form-label">Ubicación o Ciudad:</label>
                                            <input type="text" name="UbicacionCiudad" id="UbicacionCiudad" class="form-control" placeholder="Ingrese su ubicación o ciudad" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." tabindex="20" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive mt-2">
                                <table id="datatable-buttons" class="table table-hover dt-responsive nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle">Nombre de Iglesia</th>
                                            <th class="align-middle">Nombre de Líder</th>
                                            <th class="align-middle">Número de Contacto</th>
                                            <th class="align-middle">Ubicación o Ciudad</th>
                                            <th class="align-middle">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cliente in Clientes %}
                                        <tr>
                                            <td>{{cliente.NombreIglesia}}</td>
                                            <td>{{cliente.NombreLider}}</td>
                                            <td>{{cliente.Contacto}}</td>
                                            <td>{{cliente.UbicacionCiudad}}</td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="#editarclienteModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#eliminarClienteModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- Modal Clientes - Etitar -->
    {% for cliente in Clientes %}
    <div id="editarclienteModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateCliente/{{cliente.Id_Cliente}}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarclienteModalLabel">Editar informacón de {{cliente.NombreCliente}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.NombreIglesia}}" name="NombreIglesia" id="NombreIglesia" class="form-control" placeholder="Nombre Iglesia" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.NombreLider}}" name="NombreLider" id="NombreLider" class="form-control" placeholder="Nombre Lider" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{cliente.Contacto}}" name="Contacto" id="Contacto" class="form-control" placeholder="Numero Contacto" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.UbicacionCiudad}}" name="UbicacionCiudad" id="UbicacionCiudad" class="form-control" placeholder="Ubicación/Ciudad" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

    <!-- Modal Clientes - Eliminar -->
    {% for cliente in Clientes %}
    <div  id="eliminarClienteModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarcobroModalLabel">Eliminar informacón de {{cliente.NombreArriendo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="" id="formulario">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.NombreIglesia}}" name="NombreIglesia" id="NombreIglesia" class="form-control" placeholder="Nombre Iglesia" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.NombreLider}}" name="NombreLider" id="NombreLider" class="form-control" placeholder="Nombre Lider" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{cliente.Contacto}}" name="Contacto" id="Contacto" class="form-control" placeholder="Numero Contacto" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cliente.UbicacionCiudad}}" name="UbicacionCiudad" id="UbicacionCiudad" class="form-control" placeholder="Ubicación/Ciudad" tabindex="20" required>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteCliente/{{cliente.Id_Cliente}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

{% endblock %}

{% block extra_javascript %}

    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script> 

{% endblock %}