{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
{% load django_template_maths %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#cuotas" role="tab">
                                Cuotas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#creditos" role="tab">
                                Creditos
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="cuotas" role="tabpanel">
                            <form method="post" action="CrearCuota/" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="FechaCuota" id="FechaCuota" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto"  data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreCuota" id="NombreCuota" class="form-control" placeholder="Ingrese el nombre" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." tabindex="20" required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Ingrese el valor"  tabindex="10" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="table-responsive mt-2">
                                    <table id="datatable-buttons" class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Fecha Cuota(AA/MM/DD)</th>
                                                <th scope="col">Nombre Persona / Banco</th>
                                                <th scope="col">Valor Cuota Pagado</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cuota in Cuotas %}
                                            <tr>
                                                <td>{{cuota.FechaCuota}}</td>
                                                <td>{{cuota.NombreCuota}}</td>
                                                <td>${{cuota.ValorCuota|remove_decimal|separator:'dot'}}</td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editarCuotaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminarCuotaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="creditos" role="tabpanel">
                            <form method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="FechaCredito" id="FechaCredito" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto"  data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreCredito" id="NombreCredito" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." class="form-control" placeholder="Nombre" tabindex="20" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorCredito" id="ValorCredito" class="form-control" placeholder="Valor Credito"  tabindex="10" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>

                                    <div class="col-xl-1 col-sm-6">
                                        <div class="mb-1">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="PorcentajeCredito" id="PorcentajeCredito" class="form-control" placeholder="% Credito" tabindex="2" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="FechaPagoCredito" id="FechaPagoCredito" class="form-control" placeholder="Fecha Pago" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Valor Cuota" tabindex="10" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>

                                    <div class="col-xl-1 col-sm-6">
                                        <div class="mb-2">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="CuotasCredito" id="CuotasCredito" class="form-control" placeholder="# Cuotas" tabindex="2" min="0" pattern="[0-9]*" title="Ajústese al formato solicitado: Sólo números." required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <textarea type="text" name="DescripcionCredito" id="DescripcionCredito" class="form-control" placeholder="Descripción" rows="1" required></textarea> 
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive mt-2">
                                <table class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Nombre Persona / Banco</th>
                                            <th scope="col">Fecha Inicio Credito</th>
                                            <th scope="col">Valor Credito</th>
                                            <th scope="col">% Credito</th>
                                            <th scope="col">Fecha Pago</th>
                                            <th scope="col">Valor Cuota</th>
                                            <th scope="col"># Cuotas</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                        
                                    </thead>

                                    <tbody>
                                        {% for credito in Creditos %}
                                        <tr>
                                            <td>{{credito.FechaCredito}}</td>
                                            <td>{{credito.NombreCredito}}</td>
                                            <td>${{credito.ValorCredito|remove_decimal|separator:'dot'}}</td>
                                            <td>{{credito.PorcentajeCredito}}</td>
                                            <td>{{credito.FechaPagoCredito}}</td>
                                            <td>${{credito.ValorCuota|remove_decimal|separator:'dot'}}</td>
                                            <td>{{credito.CuotasCredito}}</td>
                                            <td>{{credito.DescripcionCredito}}</td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="#editarCreditoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#eliminarCreditoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->         
    <!-- Modal Credito - Etitar -->
    {% for credito in Creditos %}
    <div id="editarCreditoModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateCredito/{{credito.Id_Credito}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarCreditoModalLabel">Editar informacón de {{credito.NombreCredito}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.FechaCredito}}" name="FechaCredito" id="FechaCredito" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.NombreCredito}}" name="NombreCredito" id="NombreCredito" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.ValorCredito}}" name="ValorCredito" id="ValorCredito" class="form-control" placeholder="Valor Credito" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.PorcentajeCredito}}" name="PorcentajeCredito" id="PorcentajeCredito" class="form-control" placeholder="%Credito" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.FechaPagoCredito}}" name="FechaPagoCredito" id="FechaPagoCredito" class="form-control" placeholder="Fecha Pago" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.ValorCuota}}" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Valor Cuota" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.CuotasCredito}}" name="CuotasCredito" id="CuotasCredito" class="form-control" placeholder="#Cuotas" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <textarea type="text" name="DescripcionCredito" id="DescripcionCredito" class="form-control" placeholder="Detalle" rows="4" required>{{credito.DescripcionCredito}}</textarea> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal General - Eliminar -->
    {% for credito in Creditos %}
    <div  id="eliminarCreditoModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarCreditoModalLabel">Eliminar informacón de {{credito.NombreCredito}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.FechaCredito}}" name="FechaCredito" id="FechaCredito" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.NombreCredito}}" name="NombreCredito" id="NombreCredito" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.ValorCredito}}" name="ValorCredito" id="ValorCredito" class="form-control" placeholder="Valor Credito" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.PorcentajeCredito}}" name="PorcentajeCredito" id="PorcentajeCredito" class="form-control" placeholder="%Credito" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.FechaPagoCredito}}" name="FechaPagoCredito" id="FechaPagoCredito" class="form-control" placeholder="Fecha Pago" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.ValorCuota}}" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Valor Cuota" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <input type="text" value="{{credito.CuotasCredito}}" name="CuotasCredito" id="CuotasCredito" class="form-control" placeholder="#Cuotas" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <textarea type="text" name="DetalleCuota" id="DetalleCuota" class="form-control" placeholder="Detalle" rows="4" required>{{credito.DescripcionCredito}}</textarea> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteCredito/{{credito.Id_Credito}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
    <!-- Modal Cuotas - Etitar -->
    {% for cuota in Cuotas %}
    <div id="editarCuotaModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateCuota/{{cuota.Id_Cuota}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarCreditoModalLabel">Editar informacón de {{cuota.NombreCuota}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.FechaCuota}}" name="FechaCuota" id="FechaCuota" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.ValorCuota}}" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Valor" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.NombreCuota}}" name="NombreCuota" id="NombreCuota" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal Cuota - Eliminar -->
    {% for cuota in Cuotas %}
    <div  id="eliminarCuotaModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarCuotaModalLabel">Eliminar informacón de {{cuota.NombreCuota}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.FechaCuota}}" name="FechaCuota" id="FechaCuota" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.ValorCuota}}" name="ValorCuota" id="ValorCuota" class="form-control" placeholder="Valor" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{cuota.NombreCuota}}" name="NombreCuota" id="NombreCuota" class="form-control" placeholder="Nombre" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteCuota/{{cuota.Id_Cuota}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
{% endblock %}

{% block extra_javascript %}

    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>

    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    

    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <!-- <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script> -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script> 

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateCuotas&Creditos.js' %}"></script>

{% endblock %}