{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- bootstrap-datepicker css -->
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#mantenimiento" role="tab">
                                Mantenimiento
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#cocina" role="tab">
                                Cocina
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="mantenimiento" role="tabpanel">
                            <form method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="FechaMantenimiento" id="FechaMantenimiento" class="form-control" placeholder="Fecha Inicio" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" data-date-autoclose="true" required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreMantenimiento" id="NombreMantenimiento" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." class="form-control" placeholder="Nombre Producto" tabindex="20" required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="CantidadProductoMantenimiento" id="CantidadProductoMantenimiento" class="form-control" min="0" placeholder="# Productos" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." tabindex="10" required>
                                        </div>
                                    </div>
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive mt-2">
                                <table id="datatable-buttons" class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Fecha(AA/MM/DD)</th>
                                            <th scope="col">Nombre Producto</th>
                                            <th scope="col">Cantidad Producto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for mantenimiento in Mantenimientos %}
                                        <tr>
                                            <td>{{mantenimiento.FechaMantenimiento}}</td>
                                            <td>{{mantenimiento.NombreMantenimiento}}</td>
                                            <td>{{mantenimiento.CantidadProductoMantenimiento}}</td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="#editarmantenimientoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#eliminarmantenimientoModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="cocina" role="tabpanel">
                            <form method="post" action="CrearProductoCocina/" autocomplete="off">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" name="FechaCocina" id="FechaCocina" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="text" name="NombreCocina" id="NombreCocina" class="form-control" placeholder="Nombre producto" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s ]+" title="Ajústese al formato solicitado: Letras mayúsculas, minúsculas y tíldes." tabindex="20" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6">
                                        <div class="mb-3">
                                            <input type="number" onKeypress="if (event.keyCode==46 || event.keyCode==69 || event.keyCode==101) event.returnValue = false;" name="CantidadProductoCocina" id="CantidadProductoCocina" class="form-control" placeholder="# Productos" min="0" pattern="[0-9]*"  title="Ajústese al formato solicitado: Sólo números." tabindex="10" required>
                                        </div>
                                    </div>

                                    <div class="col-xl col-sm-6 align-self-end">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-md">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div>
                                <div class="table-responsive mt-2">
                                    <table id="datatable-buttons" class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Fecha(AA/MM/DD)</th>
                                                <th scope="col">Nombre Producto</th>
                                                <th scope="col">Cantidad Producto</th>
                                                <th scope="col">Acciones</th>
                                            </tr>                  
                                        </thead>

                                        <tbody>
                                            {% for cocina in Cocina %}
                                            <tr>
                                                <td>{{cocina.FechaCocina}}</td>
                                                <td>{{cocina.NombreCocina}}</td>
                                                <td>{{cocina.CantidadProductoCocina}}</td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="#editarcocinaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-success">
                                                            <i class="mdi mdi-pencil font-size-18"></i>
                                                        </a>
                                                        <a href="#eliminarcocinaModal-{{forloop.counter}}" data-bs-toggle="modal" class="text-danger">
                                                            <i class="mdi mdi-delete font-size-18"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- Modal Mantenimiento - Etitar -->
    {% for mantenimiento in Mantenimientos %}
    <div id="editarmantenimientoModal-{{forloop.counter}}" class="modal fade" autocomplete="off">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateMantenimiento/{{mantenimiento.Id_Mantenimiento}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarmantenimientoModalLabel">Editar informacón de {{mantenimiento.NombreMantenimiento}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{mantenimiento.FechaMantenimiento}}" name="FechaMantenimiento" id="FechaMantenimiento" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{mantenimiento.CantidadPruductoMantenimiento}}" name="CantidadPruductoMantenimiento" id="CantidadPruductoMantenimiento" class="form-control" placeholder="# Productos" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{mantenimiento.NombreMantenimiento}}" name="NombreMantenimiento" id="NombreMantenimiento" class="form-control" placeholder="Nombre Producto" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal Mantenimiento - Eliminar -->
    {% for mantenimiento in Mantenimientos %}
    <div  id="eliminarmantenimientoModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarmantenimientoModalLabel">Eliminar informacón de {{mantenimiento.NombreMantenimiento}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{mantenimiento.FechaMantenimiento}}" name="FechaMantenimiento" id="FechaMantenimiento" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{mantenimiento.CantidadPruductoMantenimiento}}" name="CantidadPruductoMantenimiento" id="CantidadPruductoMantenimiento" class="form-control" placeholder="# Productos" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{mantenimiento.NombreMantenimiento}}" name="NombreMantenimiento" id="NombreMantenimiento" class="form-control" placeholder="Nombre Producto" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteMantenimiento/{{mantenimiento.Id_Mantenimiento}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

    <!-- Modal Cocina - Etitar -->
    {% for cocina in Cocina %}
    <div id="editarcocinaModal-{{forloop.counter}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="updateCocina/{{cocina.Id_Cocina}}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarcocinaModalLabel">Editar informacón de {{cocina.NombreCocina}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cocina.FechaCocina}}" name="FechaCocina" id="FechaCocina" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{cocina.CantidadProductoCocina}}" name="CantidadProductoCocina" id="CantidadProductoCocina" class="form-control" placeholder="# Productos" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{cocina.NombreCocina}}" name="NombreCocina" id="NombreCocina" class="form-control" placeholder="Nombre Producto" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success w-md">Actualizar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->
        
    <!-- Modal Cocina - Eliminar -->
    {% for cocina in Cocina %}
    <div  id="eliminarcocinaModal-{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminargeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarcocinaModalLabel">Eliminar informacón de {{cocina.NombreCocina}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form id="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" value="{{cocina.FechaCocina}}" name="FechaCocina" id="FechaCocina" class="form-control" placeholder="Seleccionar Fecha" tabindex="10" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="number" value="{{cocina.CantidadProductoCocina}}" name="CantidadProductoCocina" id="CantiCantidadProductoCocinadadPruductoMantenimiento" class="form-control" placeholder="# Productos" tabindex="20" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <input type="text" value="{{cocina.NombreCocina}}" name="NombreCocina" id="NombreCocina" class="form-control" placeholder="Nombre Producto" tabindex="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="deleteCocina/{{cocina.Id_Cocina}}" type="submit" class="btn btn-danger w-md">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end modal -->

{% endblock %}

{% block extra_javascript %}

    <!-- select2 -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
    <!-- bootstrap-datepicker js -->
    <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- init js -->
    <!-- <script src="{% static 'js/pages/crypto-orders.init.js' %}"></script> -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script> 

    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateMantenimiento&Cocina.js' %}"></script>

{% endblock %}