{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="">Menu</li>

        <li>
          <a href="{% url 'tables-general' %}" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="">Inicio</span>
          </a>
        </li>

        <!-- Sección de Prestamos y Cobros -->
        <li>
          <a href="{% url 'tables-prestamos' %}" class="waves-effect">
            <i class="bx bx-money"></i>
            <span key="">Prestamos & Cobros</span>
          </a>
        </li>

        <!-- Sección de Arriendos -->
        <li>
          <a href="{% url 'tables-arriendos' %}" key="">
            <i class="bx bx-building-house"></i>
            <span key="">Arriendos & Contratos</span>
          </a>
        </li>

        <!-- Sección de Creditos -->
        <li>
          <a href="{% url 'tables-creditos' %}" class="waves-effect">
            <i class="bx bx-credit-card "></i>
            
            <span key="">Cuotas & Creditos</span>
          </a>
        </li>

        <!-- Sección de Finca -->
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="bx bx-building-house"></i>
              <span key="">Finca</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
              <!-- Sección de Evento -->
              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="mdi mdi-book-edit"></i>
                    <span key="">Evento</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li>
                      <a href="{% url 'calendar-eventos' %}">
                        <i class="bx bx-calendar-event"></i>
                        <span key="">Calendario</span>
                      </a>
                    </li>


                    <li>
                      <a href="{% url 'tabla-eventos' %}">
                        <i class="bx bx-task"></i>
                        <span key="">Eventos</span>
                      </a>
                    </li>
                </ul>
              </li>
              <!-- Sidebar -->
              <!-- Sección de Evento -->
              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="mdi mdi-book-edit"></i>
                    <span key="">Tarea</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li>
                      <a href="{% url 'calendar-tareas' %}">
                        <i class="bx bx-calendar-event"></i>
                        <span key="">Calendario</span>
                      </a>
                    </li>
 

                    <li>
                      <a href="{% url 'tabla-tareas' %}">
                        <i class="bx bx-task"></i>
                        <span key="">Tareas</span>
                      </a>
                    </li>
                </ul>
              </li>
              <!-- Sidebar -->
              <!-- <li>
                <a href="{% url 'calendar-eventos' %}">
                  <i class="bx bx-calendar-event"></i>
                  <span key="">Eventos</span>
                </a>
              </li>


              <li>
                <a href="{% url 'calendar-tareas' %}">
                  <i class="bx bx-task"></i>
                  <span key="">Tareas</span>
                </a>
              </li> -->
              <!-- TODO: Es una tabla -->
              <li>
                <a href="{% url 'table-inventario' %}">
                  <i class="bx bxs-book"></i>
                  <span key="">Inventarios</span>
                </a>
              </li>
              

              <li>
                <a href="{% url 'table-clientes' %}">
                  <i class="bx bxs-user"></i>
                  <span key="">Clientes</span>
                </a>
              </li>
              

              <li>
                <a href="{% url 'filemanager' %}">
                  <i class="bx bxs-folder-open"></i>
                  <span key="">Documentación</span>
                </a>
              </li>
          </ul>
        </li>


          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
