
{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/tui-time-picker/dist/tui-time-picker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/tui-date-picker/dist/tui-date-picker.min.css' %}">
    <link href="{% static 'libs/tui-calendar/dist/tui-calendar.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'Fullcalendar/lib/main.css' %}">
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="lnb">
                        
                        <div id="calendarList" class="lnb-calendars-d1 mt-4 mt-sm-0 me-sm-0 mb-4"></div>
                        
                        <div id="calendar" style="height: 800px;"></div>
                        
                    </div>
                </div>  
            </div>
        </div>
    </div>        

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="eventos" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="guardarContratoFiadorModalLabel">Datos del evento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-responsive">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <select id="Color" name="Color" class="form-control">
                                        <option value="#1adc00" selected>Abonado</option>
                                        <option value="#ebc728">Pendiente</option>
                                        <option value="#ff4040">Nulo</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="Comida" >Preparacion de comida:</label>
                                    <select id="Comida" name="Comida">
                                        <option value="No" selected>No</option>
                                        <option value="Si">Si</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="text" name="pastor" id="pastor" class="form-control" placeholder="Nombre del pastor o lider" tabindex="10" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="number" name="Celular" id="Celular" class="form-control" placeholder="Celular" tabindex="10" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="number" name="Abono" id="Abono" class="form-control" placeholder="Abonado" tabindex="20" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input type="number" name="ValorPersona" id="ValorPersona" class="form-control" placeholder="Valor por persona" tabindex="20" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="InicioEvento">Dia de inicio del evento:</label>
                                    <input type="date" name="InicioEvento" id="InicioEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="FinalEvento">Dia de finalización del evento:</label>
                                    <input type="date" name="FinalEvento" id="FinalEvento" class="form-control" placeholder="Seleccionar Fecha" data-date-format="yyyy/mm/dd" data-date-orientation="bottom auto" data-provide="datepicker" tabindex="1" data-date-autoclose="true" required>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="mb-9">
                                    <textarea type="text" name="Actividades" rows="2" cols="40" id="Actividades"  class="form-control" placeholder="Actividades" tabindex="100" ></textarea>   
                                </div>
                            </div> 
                            
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary w-md">Guardar</button>
                                <button id="modalClose2" type="button" class="btn btn-danger w-md">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end row -->
{% endblock %}

{% block extra_javascript %}
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
    <script src="{% static 'libs/tui-dom/dist/tui-dom.min.js'%}"></script>

    <script src="{% static 'libs/tui-time-picker/dist/tui-time-picker.min.js'%}"></script>
    <script src="{% static 'libs/tui-date-picker/dist/tui-date-picker.min.js'%}"></script>

    <script src="{% static 'libs//moment/min/moment.min.js'%}"></script>
    <script src="{% static 'libs/chance/dist/chance.min.js'%}"></script>

    <script src="{% static 'libs/tui-calendar/dist/tui-calendar.min.js'%}"></script>
    <script src="{% static 'Fullcalendar/lib/locales-all.js'%}"></script>
    <script src="{% static 'Fullcalendar/lib/main.js'%}"></script>
    <!-- Today as Date -->
    <script src="{% static 'js/pages/todayDateEvento.js' %}"></script>

    <script>
            document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
                },
                buttonText: {
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    list: 'Lista del dia',
                    today: 'Hoy',
                },
                selectable: true,
                selectMirror: true,
                select: function(arg) {
                    console.log('clicked')
                    var modal = document.getElementById('myModal')
                    modal.style.display = 'block'
                    calendar.unselect()
                },
                dayMaxEvents: true,
                events: {{ events|safe }}
                
              }
              );
              calendar.render();
              calendar.setOption('locale','es');
            }
            );

            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("btn-close")[0];
            span.onclick = function() {
                modal.style.display = "none";
                };
                var cerrar = document.getElementById("modalClose2");
            cerrar.onclick = function() {
                modal.style.display = "none";
                };
    </script>
{% endblock %}