*{
    box-sizing: border-box;
}
.bg_pagina{
    background-color:rgb(163, 221, 221);
}
.wrap_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    width: 30%;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 11px 2px #184040f7;
}
.titulo{
    font-size: 18px;
    text-align: center;
    padding:15px 10px;

}
.box_file{
    position: relative;
    border: 1px dotted;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.box_file_input{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.box_file_text{
    color: #777676;
    font-weight: 600;
}
.wrap_progress{
    height: 10px;
    background-color: gray;
    margin-top: 10px;
}
.progress{
    background-color: #0b6be2;
    width: 1%;
    height: 100%;
}
.wrap_btn{
    margin-top: 30px;
    text-align: center;
}
.btn{
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    color:white;
    background-color: #093584;
    cursor: pointer;
}
.ul_archivos{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul_archivo_li{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid;
    cursor: pointer;
}

.vista_previa{
    border: 0;
    width: 1000px;
    height: 600px;
}
.wrap_vista_previa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.w_auto{
    width: auto!important;
}
.wrap_ul_archivo{
    height: 200px;
    overflow: auto;
}
.bg_red{
    background-color: red;
}