
  {% extends 'partials/base.html' %}
  {% load static %}
  
  {% block extra_css %}
      <link rel="stylesheet" href="{% static 'Styles/file.css' %}">
  {% endblock %}
  
  {% block contents %}

<body class='bg_pagina'>

  <div class="wrap_box">
    <div class="box">
      <div class='titulo'>Subir Archivo</div>
  
      <div class='box_file'>
          <input id=fuArchivo type="file" class="box_file_input"/>
          <span class="box_file_text" id="txtNombreARchivo">Seleccione un archivo!!</span>
      </div>
      <div class="wrap_progress">
          <div id="divProgress" class="progress"></div>
      </div>
      <div class='wrap_btn'>
          <spa class='btn' id="btnEnviar">Enviar</spa>
          <spa class='btn bg_red' id="btnLimpiar">Limpiar</spa>
      </div>
    </div>

    <div class="box">
      <div class='titulo'>Archivos Subidos</div>
        <div class='wrap_ul_archivo'>
          <ul id="ulArchivos" class="ul_archivos"></ul>
        </div>
      </div>
    </div>

    <div class="wrap_vista_previa">
      <div class="box w_auto">
        <div class='titulo'>Vista Previa</div>
        <div>
          <iframe id="ifmVista" loading="lazy" class="vista_previa"></iframe>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% csrf_token %}
</body>
  
  {% endblock %}

  {% block extra_javascript %}

  <script defer src="{% static 'Scripts/file.js' %}?v={{v}}"></script>
  
  {% endblock %}

